<div class="chat-container">
  <div class="settings-button">
    <button type="submit" routerLink="/settings">Settings</button>
	</div>

<div class="disconnect-button">
  <button type="submit" routerLink="">Disconnect</button>
</div>
  
  <div class="welcome-message">
  {{ generateWelcomeMessage() }}
  </div>
  
  <div class="messages-container">
    <!-- Mesajele utilizatorului curent -->
    <div class="current-user-messages">
      <div class="message" *ngFor="let message of messageService.currentUserMessages">{{ message.content }}</div>
    </div>

    <!-- Mesajele utilizatorului cu care se conversează -->
    <div class="other-user-messages">
      <div class="message" *ngFor="let message of messageService.otherUserMessages">{{ message.content }}</div>
    </div>
  </div>

  <!-- Caseta de input pentru trimiterea mesajelor -->
  <div class="input-container">
    <input type="text" placeholder="Type your message..." [(ngModel)]="newMessageContent">
    <button (click)="sendMessage()"></button>
  </div>
</div>
