.container {
    height: 100%;
    background-image: url("/assets/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
  }
  
  .reset-container {
    padding: 20px;
    border: 1px solid #190482;
    border-radius: 10px;
    background-color: #8E8FFA;
    margin: 20px; 
    max-width: 600px;
    text-align: center;
    width: 90%;
  }
  
  .reset-container h2 {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
    text-align: left;
    width: 95%;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
  }
  
  .reset-container button {
    width: 100%; 
    padding: 10px;
    background-color: #190482;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .reset-container button:hover {
    background-color: #0056b3;
  }
